/* body {
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.8)),url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
} */
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: linear-gradient(rgba(208, 204, 198, 0.7),rgba(113, 103, 82, 0.7)),url("../images/background.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
/* .background-image {
  background-image: linear-gradient(rgba(208, 204, 198, 0.7),rgba(113, 103, 82, 0.7)),url("../images/background.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
} */

.heading{
  font-weight: bold  !important;
  color:orange;
  margin-top: 2rem;
  perspective: 500px;
}

